<!DOCTYPE html>
{% extends '__base__.html'%}

<!--document-title-->
{% block title %}${title}{% endblock %}

<!--body-content-->
{% block content %}

<div id="vm-content">
	${title}
	<br />
	<div v-for="item in list" :key="item.id" style="margin-bottom: 10px;background: #f7f7f7;">
		<img :src="item.image" style="height: 100px;" />
		<div>用户名：{{item.name}}</div>
		<div>email：{{item.email}}</div>
		<div>注册日期:{{item.create_dt|datetime}}</div>
	</div>
</div>

{% endblock %}

<!--script-->
{% block script %}

<script>
	var vm = new Vue({
		el: '#vm-content',
		data: {
			list: []
		},
		created() {
			this.getUserInfo();
		},
		filters: {
			datetime: function(dela) {
				if (dela<60)
				    return '1分钟前'
				if (dela < 3600)
				    return (dela/60)+'分钟前'
				if (dela < 86400)
				    return (dela/3600)+'小时前'
				if (dela < 604800)
				    return (dela/86400)+'天前'
				var dt = new Date(dela);
				return dt.getFullYear()+'年'+(dt.getMonth()+1)+'月'+dt.getDate()+'日';
			}
		},
		methods: {
			getUserInfo: function() {
				var self = this;
				$.ajax({
					type: "get",
					url: '/api/usersall',
					dataType: "json",
					jsonp: 'jsoncallback',
					data: {
						user: 'test',
						name: "test"
					},
					beforeSend: function(xhr) {
						xhr.setRequestHeader('SOAPAction', 'http://tempuri.org/MySoapHeader');
					},
					success: function(d) {
						if (d && d.status == 1 && d.data) {
							self.list = d.data;
						} else {
							alert("暂无用户数据")
						}
					},
					error: function(d) {
						console.log("error:" + JSON.stringify(d));
					}
				});
			}
		}
	});
</script>

{% endblock %}

<!--style-->
{% block style%}

<style>
	img {
		width: 200px;
		height: auto;
	}
</style>

{% endblock %}
